@model Restaurant_Website.Models.Food

@await Html.PartialAsync("/Views/Cart/CartPartial.cshtml")

<div class="container-fluid">

    <div class="row">
        <div class="column-sm">
            <img src="/food_images/@Model.ImageName" alt="" height="400px" width="400px">
        </div>
        <div class="column-sm" style="position: relative;">
            <div class="container" style="display: flex; flex-direction: column;">
                <h1>@Model.Name</h1>
                <h2>@Model.Description</h2>
                <h3>@Model.Price$</h3>
                <div style="width: 100%; position: absolute; bottom: 0;">
                    <a asp-controller="MainMenu" asp-action="Index"><button type="button" class="btn btn-primary">Back</button></a>
                    <a asp-controller="MainMenu" asp-action="AddToCart" asp-route-id="@Model.Id"><button type="button" class="btn btn-success">Add to cart</button></a>
                </div>
            </div>
        </div>
    </div>

</div>