<li>
    <a class="nav-link text-warning" asp-area="" asp-controller="RestaurantManager" asp-action="Index">Restaurant</a>
</li>
<li>
    <a class="nav-link text-warning" asp-area="" asp-controller="foodcrud" asp-action="Index">Edit Menu</a>
</li>
<li>
    <a class="nav-link text-warning" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
</li>
<li>
    <a class="nav-link text-warning" asp-area="" asp-controller="Orders" asp-action="History">Orders History</a>
</li>