@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityUser>
<div class="container" style="display: flex;">
    @await Html.PartialAsync("/Views/RestaurantManager/LeftMenuPartial.cshtml", User.Identity.Name)
    <div style="width: 70%; height: 100%;">
        <div class="list-group">
            @foreach (var item in Model)
            {
                <a asp-action="AccountDetails" asp-route-id="@item.Id" class="list-group-item list-group-item-action">@item.UserName</a>
            }
        </div>
    </div>
</div>