<div class="container" style="display: flex;">
    <div style="width: 30%; margin-right: 5%;">
        <div class="list-group">
        <a asp-action="RestaurantDetails" class="list-group-item list-group-item-action">Restaurant Details</a>
        <a asp-action="WorkTimes" class="list-group-item list-group-item-action">Work Times</a>
        <a asp-action="Accounts" class="list-group-item list-group-item-action">Accounts</a>
        </div>
    </div>
    <div style="width: 70%; height: 100%;">

    </div>
</div>